<div class="p-4 bg-black rounded text-white">
    <h1>Component Lifecycle Hooks</h1>
    <code class="text-warning">A <em>component's lifecycle</em> is the sequene of steps that happen between the component's creation and its destruction.</code>
    <div class="border p-3 rounded mt-3">
        <div class="mb-2">1. constructor()</div>
        <div class="mb-2">2. {{'@'}}OnInit()</div>
        <div class="mb-2">3. {{'@'}}OnChanges()</div>
        <div class="mb-2">4. {{'@'}}DoCheck()</div>
        <div class="mb-2">5. {{'@'}}AfterContentInit()</div>
        <div class="mb-2">6. {{'@'}}AfterContentChecked()</div>
        <div class="mb-2">7. {{'@'}}AfterViewInit()</div>
        <div class="mb-2">8. {{'@'}}AfterViewChecked()</div>
        <div>9. {{'@'}}OnDestroy()</div>
    </div>
</div>
