<h1 class="text-center my-5 fw-bold" 
        [style]="{
          'background': 'linear-gradient(45deg, #2196F3, #00BCD4)',
          'background-clip': 'text',
          '-webkit-background-clip': 'text',
          'color': 'transparent',
          'font-size': '2.5rem',
          'letter-spacing': '0.5px',
          'text-shadow': '2px 2px 4px rgba(0,0,0,0.1)'
        }">
      Assalam o Alaikum!! 
    <div class="fs-4 mt-2 text-muted fw-normal">Welcome to Angular 18 Learning<span>😋</span></div>
</h1>