<div class="my-3 text-bg-secondary bg-black text-white p-5 rounded">
    <h1>Guards</h1>
    <p>
        Guards are a way to control access to routes in an Angular application.
        <br>
        There are four types of guards:
        <br>
        - CanActivate: Prevents access to a route until a certain condition is met.
        <br>
        - CanActivateChild: Prevents access to child routes until a certain condition is met.
        <br>
        - CanDeactivate: Prevents navigation away from a route until a certain condition is met.
        <br>
        - CanLoad: Prevents lazy loading of a route until a certain condition is met.
        <br>
        Guards are implemented as arrow functions that implement the CanActivate, CanActivateChild, CanDeactivate, and CanLoad interfaces.
    </p>
</div>